<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subscription Calendar</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Subscription Calendar</a>
      </h1>
      <nav>
        {{#if loggedIn}}
<<<<<<< Updated upstream
        <a href="/dashboard/create/">
          <button class="btn-no-style" enabled="true" >profile</button>
        </a> 
        {{!-- <button class="btn-no-style">profile</button> --}}
        <button id="logout" class="btn-no-style">logout</button>
        
       
=======
        <button id="logout" class="btn-no-style">Logout</button>
>>>>>>> Stashed changes
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  <script src="/javascript/add-profile.js"></script>
  {{/if}}
</body>

</html>