<section>
    
  <h2 class="title">Create Subscription Profile</h2><hr>

  <form class="new-profile-form">
    <div>
      <label for="subscription">Subsciption Name:</label>
      <input class="input" type="text" id="subscription" name="subscription" placeholder="insert subscription here"/>
    </div>
    <div>
      <label for="price">Price:</label>
      <input class="textarea is-large" id="price" name="price" placeholder="insert  price here"/>
    </div> 

     <div>
      <label for="date">Date:</label>
        
          <input class="textarea is-large" type="number" id="date" name="date" min="1" max="31"/>
          
          
        
    </div> 

  
      {{!-- <span>
        <label for="date">Select Date:</label>
        <select class="dates"></select>
    
      </span>  --}}
      
    
    <button type="submit" class="button is-primary is-pulled-right">Create Profile</button>
  </form>     
</section>

<script src="/javascript/add-profile.js"></script>
<script src="/javascript/date.js"></script>
<script type="text/javascript">
dates('option');</script>

