<head>
<link href='/stylesheets/calendar.css' rel='stylesheet' />
</head>
  
  <div class="mb-5 pt-3">
      <h2 class="title">Create Subscription Profile</h2><hr>
  </div>
    {{!-- cretion of the subscriptions --}}
  <section id="subscription-containor">  
    <section id="subscription-creation">
      <form class="new-profile-form" id="BTN">
        <section>
          <div>
              {{!-- geting the name of subscription --}}
            <label for="subscription">Subsciption Name:</label>
            <input class="input" type="text" id="subscription" name="subscription" placeholder="insert subscription here"/>
          </div>
          <div>
              {{!-- getig the price --}}
            <label for="price">Price:</label>
            <input class="textarea is-large" id="price" name="price" placeholder="insert  price here"/>
          </div> 
          <div>
              {{!-- geting the day --}}
            <label for="date">Date:</label> 
                <input class="textarea is-large" type="number" id="date" name="date" min="1" max="31"/>
          </div> 
        </section>
        {{!-- create BTN --}}
        <section id="subscription-btn">
          <div>
          <button type="submit" class="button is-primary is-pulled-right">Create Profile</button>
        </div>
        </section>
         
      </form> 
    </section>
    <h1>Hi</h1>
    <body>
    <div id='calendar'></div>
    
  </body>
    
  

<<<<<<< HEAD
</section>
=======
  <section id="subscriptions-removal">
    <div class="subscription">
        <label for="text" class="lable"></label>
    </div>
  </section>
</section>
{{!-- <body>
    <div id='calendar'></div>
</body> --}}
>>>>>>> ce0d1d2e672d903f6f9b8ab796b4a0a554fa6aa1
<script src="/javascript/add-profile.js"></script>


