body
{background-color: rgb(195, 247, 229);}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}
a {
  text-decoration: none;
  color: rgb(245, 229, 229);
  text-shadow: 1px 1px #000000;
  font-weight: bold;
  transition: color .1s;
}
a:hover {
  color: #7D7D7D;
}
button {
  align-items: center;
  color: rgb(195, 247, 229);
  background-color: black;
  font-weight: bold;
  cursor: pointer;
  padding:3px 0;
}
button:hover {
  background-color: #9B9B9B;
}
.post-list {
  margin: 0;
  padding: 0;
}
textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
}
textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486EB;
}
textarea {
  min-width: 40%;
  min-height: 100px;
}
form > div {
  margin-bottom: 2%;
}
form label {
  display: block;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.wrapper h1 a {
  color: black;
  font-size: 20px;
}
header {
  border-bottom: 1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}
header h1 {
  font-size: 1em;
  color: black;
}
#logout {
  color: black;
}
#logout:hover {
  color: #7D7D7D;
}
main {
  flex: 1;
  padding: 2% 4%;
}
.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225CA3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}
.btn-no-style:hover {
  background: none;
  color: #3486EB;
}
.delete-post-btn {
  background-color: #D41414;
}
.delete-post-btn:hover {
  background-color: #FF643D;
}
.post {
  margin-bottom: 2%;
  line-height: 150%;
}
.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7D7D7D;
}
.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}
.upvote-btn {
  background-color: #197D0F;
  transition: background-color .1s;
}
.upvote-btn:hover {
  background-color: #1F9C13;
}
.comment-form {
  margin-bottom: 5%;
}
.comment {
  padding: 1%;
  margin-bottom: 1%;
}
.comment:nth-child(odd) {
  background-color: #FFF5EB;
}
.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}
.new-post-form input {
  width: 300px;
}
.edit-post-form {
  margin-bottom: 5%;
}
footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}
#subscription-containor{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#subscriptions-removal{
  height: 50%;
  border: 3px solid black;
  border-right-width: 5px;
  border-left-width: 5px;
  /* width: 190px; */
  display: flex;
  flex-direction: column;
}
.subscription{
  margin-top: 5px;
  display: flex;
  border: 3px solid black;
  border-right-width: 0px;
  border-left-width: 0px;
  flex-direction: row;
  justify-content: center;
}
.subscription:hover{
  background-color: blue;
}
#subscription-creation{
  border: solid 2px black;
  
  height: 50px;
  width: 100%;
  border-right-width: 5px;
  border-left-width: 5px;
  margin-bottom: 25px;
  padding: 10px;
}
#unique{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}
#subscription-btn{
  margin-top: 100%;
}
.login-form {
  text-align: center;
  background-color: rgb(195, 247, 229);
  margin-right: 100px;
  margin-left: 250px;
  margin-top: 150px;
  border: solid 2px;
  width: 20%;
  height: 100%;
}
.signup-form {
  text-align: center;
  background-color: rgb(195, 247, 229);
  margin-left: 40px;
  margin-top: 150px;
  border: solid 2px;
  width: 25%;
  height: 100%;
  
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  position: center;
}

.box-unique {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-right: 10px;
  width: 250px;
  margin-top: 10px;
  margin-right: 10px;
  border: 5px solid  rgb(0, 0, 0);
  
  
  

}

.listings{
  display: flex;
  flex-wrap: wrap;
  color: rgb(0, 0, 0);
  text-shadow: 3px 3px #ffffff;
  font-size: 18px;
  list-style-type: none;
  font-weight: bold;
} 



